// Color
$white:    #fff;
$darkBlue: #0A0F15;
$blue : #101726;

$scrollBar : $blue;
$background-color: $darkBlue;

// Typography
$ultraLarge: 4vw;

// Responsive
$break-small: 1000px;
$break-large: 1850px;