.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }

  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #eee;

    &:after {
        content: "";
        position: absolute;
        display: none;
      }
  }

  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }

  .checkboxContainer .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #0f172a;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
