@import '../utils/variables';
input{
    background: none;
    border: none;
    border-bottom: solid 1px $white;
    color: $white;

    &::placeholder{
        color: $white;
    }
}

input[type=text]{
    padding: 1%;
}
