/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: zektonrg;
  src: url(../font/zektonrg.ttf) format("truetype");
}
@font-face {
  font-family: Prometheus;
  src: url(../font/PROMETHEUS.ttf) format("truetype");
}
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #0f172a;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input {
  background: none;
  border: none;
  border-bottom: solid 1px #fbfbfb;
  color: #fbfbfb;
}
input::placeholder {
  color: #fbfbfb;
}

input[type=text] {
  padding: 1%;
}

.legatus {
  opacity: 0;
  animation: legatus 3s ease-in-out forwards;
}

@keyframes legatus {
  10% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.mission {
  opacity: 0;
  animation: mission 3s ease-in-out forwards;
}

@keyframes mission {
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.carte {
  opacity: 0;
  animation: carte 3s ease-in-out forwards;
}

@keyframes carte {
  15% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.medaille {
  opacity: 0;
  animation: medaille 3s ease-in-out forwards;
}

@keyframes medaille {
  35% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.historique {
  opacity: 0;
  animation: historique 3s ease-in-out forwards;
}

@keyframes historique {
  15% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.oxy {
  opacity: 0;
  animation: oxy 3s ease-in-out forwards;
}

@keyframes oxy {
  25% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.commentaire {
  opacity: 0;
  animation: commentaire 3s ease-in-out forwards;
}

@keyframes commentaire {
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.scanCercle {
  transform: rotate(105deg);
  animation: scanCercle 5s ease-in-out forwards;
}

@keyframes scanCercle {
  10% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(160deg);
  }
  80% {
    transform: rotate(200deg);
  }
}
#path_legatus-2 {
  opacity: 0;
  animation: pathLegatus 3s ease-in-out forwards;
}

@keyframes pathLegatus {
  0% {
    stroke-dashoffset: 2000;
  }
  20% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_226-2 {
  opacity: 0;
  animation: pathLegatus2 2s ease-in-out forwards;
}

@keyframes pathLegatus2 {
  0% {
    stroke-dashoffset: 2000;
  }
  25% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#legtusDeco-2, #legtusDeco8-2 {
  opacity: 0;
  animation: pathLegatus3 3s ease-in-out forwards;
}

@keyframes pathLegatus3 {
  0% {
    stroke-dashoffset: 2000;
  }
  45% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_histo1-2 {
  opacity: 0;
  animation: pathHisto 2s ease-in-out forwards;
}

@keyframes pathHisto {
  0% {
    stroke-dashoffset: 2000;
  }
  50% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_missions-2 {
  opacity: 0;
  animation: pathHisto1 2s ease-in-out forwards;
}

@keyframes pathHisto1 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_historique-2 {
  opacity: 0;
  animation: pathHisto2 2s ease-in-out forwards;
}

@keyframes pathHisto2 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_adn-2 {
  opacity: 0;
  animation: pathAdn 1s ease-in-out forwards;
}

@keyframes pathAdn {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#fp-2 {
  opacity: 0;
  animation: pathfp 1s ease-in-out forwards;
}

@keyframes pathfp {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_carte-2, #Path_195-2 {
  opacity: 0;
  animation: pathCarte 1s ease-in-out forwards;
}

@keyframes pathCarte {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_oxy-2, #Path_199-2 {
  opacity: 0;
  animation: pathOxy 2s ease-in-out forwards;
}

@keyframes pathOxy {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#path_xp-2 {
  opacity: 0;
  animation: pathxp 3s ease-in-out forwards;
}

@keyframes pathxp {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_198-2 {
  opacity: 0;
  animation: pathxpDeco 3.5s ease-in-out forwards;
}

@keyframes pathxpDeco {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_432-2 {
  opacity: 0;
  animation: pathDeco4 3s ease-in-out forwards;
}

@keyframes pathDeco4 {
  0% {
    stroke-dashoffset: 2000;
  }
  50% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_177-2 {
  opacity: 0;
  animation: pathDeco0 3s ease-in-out forwards;
}

@keyframes pathDeco0 {
  0% {
    stroke-dashoffset: 2000;
  }
  50% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_178-2 {
  opacity: 0;
  animation: pathDeco 3s ease-in-out forwards;
}

@keyframes pathDeco {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_179-2 {
  opacity: 0;
  animation: pathDeco2 3s ease-in-out forwards;
}

@keyframes pathDeco2 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_438-2 {
  opacity: 0;
  animation: pathDeco3 3s ease-in-out forwards;
}

@keyframes pathDeco3 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.5;
  }
}
#Path_439-2, #Path_440-2, #Path_436-2 {
  opacity: 0;
  animation: pathDeco5 3.2s ease-in-out forwards;
}

@keyframes pathDeco5 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 0.4;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.4;
  }
}
#Path_435-2, #Path_445-2 {
  opacity: 0;
  animation: pathDeco6 3.8s ease-in-out forwards;
}

@keyframes pathDeco6 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 0.7;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.7;
  }
}
#Path_429-2 {
  opacity: 0;
  animation: pathDeco7 4.2s ease-in-out forwards;
}

@keyframes pathDeco7 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_442-2, #Path_443-2, #Path_444-2 {
  opacity: 0;
  animation: pathDeco8 4.5s ease-in-out forwards;
}

@keyframes pathDeco8 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.5;
  }
}
#legatusDeco2-2 {
  opacity: 0;
  animation: pathDeco9 2.5s ease-in-out forwards;
}

@keyframes pathDeco9 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#legatusDeco3, #legatusDeco4-2 {
  opacity: 0;
  animation: pathDeco10 2.8s ease-in-out forwards;
}

@keyframes pathDeco10 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#legatusdeco5-2, #legatusDeco7-3, #legatusDeco7-4 {
  opacity: 0;
  animation: pathDeco11 3.2s ease-in-out forwards;
}

@keyframes pathDeco11 {
  0% {
    stroke-dashoffset: 2000;
  }
  60% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_223-2, #Path_224-2, #Path_225-2, #Path_226-2, #Path_227-2, #Path_228-2, #Path_229-2 {
  opacity: 0;
  animation: pathDeco12 3.2s ease-in-out forwards;
}

@keyframes pathDeco12 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_230-2 {
  opacity: 0;
  animation: pathDeco13 3.5s ease-in-out forwards;
}

@keyframes pathDeco13 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_202-2 {
  opacity: 0;
  animation: pathDeco14 3.8s ease-in-out forwards;
}

@keyframes pathDeco14 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_203-2 {
  opacity: 0;
  animation: pathDeco15 4s ease-in-out forwards;
}

@keyframes pathDeco15 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_194-2, #Path_193-2 {
  opacity: 0;
  animation: pathDeco16 4.5s ease-in-out forwards;
}

@keyframes pathDeco16 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_232-2, #Path_231-2 {
  opacity: 0;
  animation: pathDeco17 4.8s ease-in-out forwards;
}

@keyframes pathDeco17 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#Path_441-2 {
  opacity: 0;
  animation: pathDeco18 5s ease-in-out forwards;
}

@keyframes pathDeco18 {
  0% {
    stroke-dashoffset: 2000;
  }
  40% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
.pathS {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

@media screen and (max-width: 1860px) {
  #msg {
    animation: msg 4s forwards;
    opacity: 1;
    display: block;
  }

  @keyframes msg {
    0% {
      opacity: 1;
      display: block;
    }
    70% {
      opacity: 1;
      display: block;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}
button {
  background: none;
  border: none;
  color: #fbfbfb;
  cursor: pointer;
}

.primary-nav {
  width: 100%;
  height: auto;
}
.primary-nav #band {
  position: absolute;
  z-index: -1;
}

#menu {
  width: 40%;
  margin: 0 34%;
  padding-top: 0.4%;
}
#menu li {
  display: inline-block;
  width: 7.5%;
  height: auto;
  margin-left: 9%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-out;
}
#menu li a {
  color: #fbfbfb;
  font-weight: 200;
  font-size: 17px;
}

.icon-individuel_section, .icon-document, .icon-logout {
  height: 3vh;
  stroke: #d4e8ff;
}

#title {
  display: block;
  float: right;
  margin: 0.8% 5%;
  text-transform: capitalize;
  font-size: 1vw;
}

#bandDeg {
  display: block;
  height: 1px;
  width: 100%;
  margin: 3% 0 0 0;
  background-image: linear-gradient(142deg, rgba(255, 0, 0, 0) 20%, #fbfbfb 70%, #ffffff 100%);
}

.resize, .menuTel {
  display: none;
}

.resize {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  border: solid #67D9F7 1px;
  background-color: #041B30;
  width: 100%;
  padding: 10px;
}

#btn-menu {
  float: right;
  background: none;
  border: none;
}

.btn-menu-open {
  height: 95vh;
  transition: 0.6s;
}

.menuTel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10vh 3%;
  z-index: 3;
  list-style-type: none;
}
.menuTel li {
  margin-top: 7vh;
}
.menuTel li a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 18px;
}

.menuTelAdmin {
  display: none;
}
.menuTelAdmin li {
  margin-top: 1.5vh;
}
.menuTelAdmin li a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 16px;
}

.nav {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav ul li {
  display: grid;
  place-items: center;
  background-image: url(../../resources/svg/btnNav.svg);
  width: 79px;
  height: 70px;
  margin: 0 2%;
}

@media (max-width: 1850px) {
  .primary-nav {
    display: none;
  }

  .resize, .resize h1 {
    display: block;
  }

  .resize h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0;
    font-size: 18px;
    z-index: 3;
  }
}
.cut {
  position: relative;
  padding: 20px;
  background: rgba(130, 162, 250, 0.055);
}
.cut:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: transparent #0A0F15 transparent #0A0F15;
}

.block-nav {
  position: fixed;
  width: 120px;
  height: 81vh;
  margin-right: 20px;
  float: left;
  top: 15%;
  left: 0;
  transition: 0.5s;
}

.block-nav-big {
  position: fixed;
  width: 200px;
  height: 81vh;
  margin-right: 20px;
  float: left;
  top: 15%;
  left: 0;
}

.list-menu-admin {
  margin: auto;
  padding: 0;
  width: 24px;
  transition: 0.5s;
}
.list-menu-admin li {
  list-style-type: none;
  width: 24px;
  margin: 4vh 0;
}

.list-menu-admin-big {
  margin: auto;
  padding: 0;
  width: 180px;
}
.list-menu-admin-big li {
  list-style-type: none;
  width: 180px;
  height: 25px;
  margin: 4.5vh 0;
}

.nav-admin-text {
  display: none;
}

.nav-admin-text-big {
  display: inline;
  vertical-align: center;
  margin: 0 1vw;
}

.arrow {
  display: block;
  cursor: pointer;
  width: 24px;
  transition: 0.5s;
}

.arrow-big {
  display: block;
  transform: rotate(-180deg);
  width: 24px;
}

@media (max-width: 1850px) {
  .block-nav {
    display: none;
  }
}
.body_admin {
  background: url("../../resources/img/bg_admin.png");
}

.container-adm {
  margin: 0 auto;
  margin-left: 8%;
  width: 90%;
  height: 84vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: 0.5s;
}

.container-adm-big {
  margin: 0 auto;
  margin-left: 12%;
  width: 86%;
  height: 84vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.block_Xl {
  width: 100%;
  height: auto;
  background: rgba(130, 162, 250, 0.055);
}

.block-large {
  width: 100%;
  height: 35vh;
  margin: 1%;
  background: rgba(130, 162, 250, 0.055);
}

.graph-mission-admin-tablette,
.graph-mission-admin-small-tablette,
.graph-mission-admin-mobile,
.graph-role-admin-mobile {
  display: none;
}

.block-mid {
  width: 48%;
  height: 35vh;
  margin: 1%;
  background: rgba(130, 162, 250, 0.055);
}

.svg-fill {
  fill: #fbfbfb;
}

.fixe {
  position: fixed;
  top: 0;
}

.article-container {
  width: 100%;
  height: 65vh;
  overflow: auto;
  order: 1;
  margin-top: 2%;
}

.article-liste {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.article-listeli {
  margin: 0.5%;
}

article {
  position: relative;
  width: 40%;
  min-width: 500px;
  margin: 40px 0;
}
article svg {
  width: 100%;
}

.btn_article {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.image {
  position: relative;
}
.image img {
  width: 10%;
}

.etiquette {
  position: absolute;
  bottom: 0;
  left: 0;
}

.articleText {
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
}
.articleText h2 {
  font-size: 0.9vw;
  margin: 5px 10px;
  color: #0A0F15;
}
.articleText p {
  font-size: 0.8vw;
  margin: 5px 20px;
  color: #0A0F15;
}

.textCut {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 320px;
  height: 1.2em;
  white-space: nowrap;
}

aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 70px auto 0;
  order: 2;
}

.search-bar-container {
  width: 30%;
  height: 60px;
}

.search-bar {
  width: 80%;
  height: 100%;
  padding-left: 50px;
  font-size: 15px;
  background: none;
  border: solid #fff 1px;
  background-image: url("../img/icon/searchIcon.png");
  background-position: left;
  background-size: 4vh;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
}
.search-bar:focus {
  width: 100%;
}

.filterContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 60%;
  margin: 0;
}

.filter {
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 0;
  list-style-type: none;
}
.filter a {
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.aside-large-screen {
  width: 70%;
}

.aside-small-screen {
  display: none;
}

.filter-container-mobile {
  z-index: 1;
  border: solid #fff 1px;
  background: none;
  width: 50px;
  height: 50px;
  padding: 10px 5px;
}

#btn-filter {
  float: right;
  background: none;
  border: none;
}

.btn-filter-open {
  height: 70vh;
  width: 400px;
  transition: 0.6s;
  background-color: #041b30;
  padding: 20px;
}

.filtre-mobile {
  display: none;
  top: 20;
  right: 0;
  margin: 10vh 3%;
  z-index: 2;
  list-style-type: none;
}
.filtre-mobile li {
  margin-top: 50px;
}
.filtre-mobile li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.doubleCut {
  position: relative;
  margin: 15px;
  padding: 10px 30px;
  background: rgba(130, 162, 250, 0.055);
}
.doubleCut h3 {
  margin: 10px;
  font-size: 1vw;
}

.doubleCut:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: transparent transparent #0A0F15 #0A0F15;
}

.doubleCut:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: transparent #0A0F15 transparent #0A0F15;
}

.largeScreen {
  display: grid;
  grid-template-columns: 20% 20% 20% 15% 25%;
  grid-template-rows: 15vh 18vh 32vh 8vh 13vh;
  grid-template-areas: " date type lead . img " " obj obj obj obj img " " desc desc desc desc video " " desc desc desc desc coms " " part part part part coms ";
  margin: 1%;
}

.date {
  grid-area: date;
}

.type {
  grid-area: type;
  text-transform: capitalize;
}

.lead {
  grid-area: lead;
}

.obj {
  grid-area: obj;
}

.desc {
  grid-area: desc;
}

.part {
  grid-area: part;
}

.img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  grid-area: video;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coms {
  grid-area: coms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paraContainer {
  height: 78%;
  overflow: auto;
  padding: 0 10px;
  margin: 0;
}

.para {
  margin-left: 20px;
  font-size: 0.8vw;
}

.smallScreen {
  display: none;
}

/* Filtre + transition */
.filter-content {
  display: none;
}

.filter-content.active {
  display: block;
}

.categorie-title {
  font-size: 1.6vw;
  text-align: center;
}

.filters .active {
  background-color: #fff2;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s;
}

.fade.in {
  opacity: 1;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 1850px) {
  .body {
    margin-top: 70px;
  }

  .largeScreen {
    margin: 6% 0 2%;
  }

  .articleText h2 {
    font-size: 16px;
    color: #0A0F15;
  }

  .articleText p {
    font-size: 14px;
    color: #0A0F15;
  }
}
@media (max-width: 1000px) {
  .largeScreen {
    display: none;
  }

  .smallScreen {
    display: block;
  }

  .categorie-title {
    font-size: 2vw;
  }

  .articleListe {
    width: 90%;
  }

  .image img {
    width: 100%;
  }

  main {
    display: block;
    display: flex;
    flex-flow: row;
  }

  .objectif {
    display: block;
    text-align: center;
    padding: 20px;
  }

  .navigation-bar {
    display: block;
    margin-top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navigation-bar a {
    color: #afafaf;
    text-decoration: none;
    padding: 5px;
  }

  #description {
    height: auto;
    min-width: 100%;
    padding: 20px;
  }

  #participants {
    height: auto;
    min-width: 100%;
    padding: 20px;
  }

  #commentaires {
    height: auto;
    min-width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .body {
    width: 100%;
    overflow: hidden;
  }

  .article-container {
    order: 2;
    margin-top: 110px;
    height: 70vh;
    overflow: hidden auto;
  }

  section {
    margin: auto;
    height: auto;
  }

  article {
    position: relative;
    width: 40%;
    min-width: 98%;
    margin: 30px 0;
  }

  .categorie-title {
    font-size: 4.5vw;
  }

  .search-bar-container {
    width: 90%;
    height: 50px;
    margin: 0 10px;
  }

  .aside-large-screen {
    display: none;
  }

  .aside-small-screen {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 100px auto;
    width: 90%;
    order: 1;
  }

  .articleText h2 {
    font-size: 14px;
    color: #0A0F15;
  }

  .articleText p {
    font-size: 12px;
    color: #0A0F15;
  }
}
@font-face {
  font-family: zektonrg;
  src: url(../font/zektonrg.ttf) format("truetype");
}
@font-face {
  font-family: Prometheus;
  src: url(../font/PROMETHEUS.ttf) format("truetype");
}
.line {
  position: absolute;
  z-index: -1;
  fill: none;
  stroke-width: 4;
  animation: line 2.3s linear forwards;
}

@keyframes line {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1s linear forwards;
  fill: none;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: logo 1.7s linear forwards;
  animation-delay: 0.7s;
}

@keyframes logo {
  80% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    left: 10%;
    top: 15%;
    transform: scale(0.4, 0.4);
  }
}
.section-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 75%;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: article 2.3s linear forwards;
}
.section-login .login {
  width: 60%;
}
.section-login .description {
  width: 40%;
}

@keyframes article {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fp, #fp2 {
  position: absolute;
  top: 70%;
  left: 90%;
  stroke: #aaaaaa;
  width: 5%;
  cursor: pointer;
}

#fp2:hover {
  stroke: white;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.inputLogin {
  width: 30%;
  margin: 3% 5%;
  padding: 1%;
}

#formInscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 20%;
  margin-top: 2%;
}

.input-sign-in {
  width: 100%;
  margin: 5% 0;
}

button {
  align-self: flex-end;
}

body {
  background: url("../../resources/img/bg.png");
}

#msg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan {
  position: absolute;
  width: 170px;
  height: 2px;
  z-index: 3;
  background-color: #3E9CFF;
  animation: 3.5s scan forwards;
}

@keyframes scan {
  0% {
    top: 90px;
  }
  10% {
    top: 50px;
  }
  20% {
    top: 20px;
  }
  30% {
    top: 80px;
  }
  40% {
    top: 60px;
  }
  40% {
    top: 90px;
  }
  50% {
    top: 120px;
  }
  60% {
    top: 90px;
  }
  70% {
    top: 160px;
  }
  80% {
    top: 100px;
  }
  80% {
    top: 70px;
  }
  90% {
    top: 84px;
  }
  100% {
    top: 90px;
  }
}
.chargement {
  position: absolute;
  top: 180px;
  width: 150px;
}
.chargement .chargement-text {
  float: left;
}
.chargement .text {
  float: right;
}

.structure {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: -2;
}

.container-grid {
  display: grid;
  grid-template-columns: auto 34.9% 28.1% 8.3% 20.8% auto;
  grid-template-rows: 20vh 15vh 13vh 15vh 7vh 18vh auto;
  grid-template-areas: " . legatus cercle medaille medaille . " " . legatus cercle carte carte . " " . mission cercle carte carte  . " " . mission cercle oxy oxy . " " . mission  cercle oxy oxy . " " . mission  historique historique commentaire  . " " . . . . . . ";
}

.legatus {
  grid-area: legatus;
}
.legatus .groupe {
  margin: 10% 0 0 5%;
  max-width: 70%;
  height: auto;
  float: left;
}
.legatus .groupe img {
  width: 100%;
}
.legatus .logo-groupe {
  margin: 50px 10px 0;
  width: 80px;
  height: 80px;
  float: right;
}
.legatus .holo {
  margin: 10px auto 0 20px;
  width: 60%;
  height: 170px;
  float: left;
}
.legatus .list-membre {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 60px 0 auto;
  width: 22%;
  height: 170px;
  font-size: 0.8rem;
  float: right;
}
.legatus .membres {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.legatus .list-membre-svg {
  position: absolute;
  top: 0;
  z-index: -2;
}

.mission {
  grid-area: mission;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mission .pourcentage {
  margin: 5% 0 3% 5%;
  width: 250px;
}
.mission .pourcentage h4 {
  margin: 20px 0 5px 0px;
  font-size: 1vw;
}
.mission .pourcentage .containerBar {
  width: 100%;
  border: solid 1px #FFF;
  border: #253168 solid 1px;
}
.mission .pourcentage .containerBar .back {
  background: none !important;
}
.mission .pourcentage .containerBar .skill {
  text-align: right;
  color: white;
  padding-right: 20px;
  line-height: 13px;
}
.mission .pourcentage .containerBar #sauvetage {
  background: #3385b7;
}
.mission .pourcentage .containerBar #combat {
  background: #530b00;
}
.mission .pourcentage .containerBar #logistique {
  background: #d69200;
}
.mission .pourcentage .containerBar #exploration {
  background: #425d00;
}
.mission .role {
  margin: 60px 0 0 0;
  width: 380px;
}
.mission .role h3 {
  margin: 0;
}
.mission .graph_mission {
  margin: 0px;
  width: 400px;
  height: 250px;
}

.cercle {
  grid-area: cercle;
}

.historique {
  grid-area: historique;
}
.historique .historique-container {
  margin: 65px auto 10px;
  width: 90%;
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}
.historique .mission-histo {
  margin: 0 2px;
  padding: 2px;
  width: 25px;
  min-width: 25px;
  height: 90px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.medaille {
  grid-area: medaille;
  width: 580px;
  height: 200px;
}
.medaille .medaille-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.medaille img {
  margin: 5px;
  max-width: 15%;
}

.carte {
  grid-area: carte;
}
.carte .carte-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.carte img {
  margin: 20px auto;
  width: 430px;
  height: 230px;
}
.carte .photo-carte img {
  height: 100%;
}
.carte .carte h2 {
  display: none;
  text-align: center;
}
.carte .carte-text {
  position: absolute;
  right: 20px;
  width: 270px;
  font-size: 0.7vw;
  line-height: 2.5vh;
}

.oxy {
  grid-area: oxy;
}
.oxy .oxy-container {
  position: relative;
  margin: 0px 0 20px 0;
  width: 570px;
  height: 150px;
}
.oxy .oxyBox {
  position: absolute;
  top: 5px;
  left: 40px;
}

.pathBtm {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: btm 2s linear infinite;
}

@keyframes btm {
  to {
    stroke-dashoffset: 0;
  }
}
.commentaire {
  grid-area: commentaire;
}
.commentaire .commentaire {
  grid-area: commentaire;
  height: 140px;
  font-size: 0.9rem;
}
.commentaire .commentaire-container {
  margin: 50px auto 0;
  width: 400px;
  height: 140px;
}

.kia {
  grid-area: kia;
}

.kia-container {
  position: relative;
  margin-left: 20px;
  width: 90px;
  height: 100px;
}

.vie {
  position: absolute;
  top: -10px;
  left: 30px;
}

.vie-bar {
  position: absolute;
  top: -10px;
  left: 60px;
}

.vie-text {
  position: absolute;
  top: -13px;
  left: 80px;
}

@media screen and (max-width: 1860px) {
  .container-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: " legatus carte " "historique historique" " mission mission" "commentaire commentaire" "medaille medaille";
    margin-top: 70px;
  }

  .structure, .kia, .oxy, .carte h2 {
    display: none;
  }

  .carte-img {
    margin: 0;
  }

  .carte-text {
    right: 0px;
  }

  .pourcentage,
.historique-container,
.carte,
.commentaire,
.medaille,
.legatus,
.role,
.graph_mission {
    margin: 25px auto;
  }

  .role {
    margin: 50px auto;
  }
  .role h3 {
    margin: 50px auto;
  }

  .pourcentage {
    margin: 20px auto;
  }

  .pourcentage h4 {
    font-size: 20px;
  }

  .carte {
    align-items: center;
    align-content: center;
  }

  .groupe img {
    width: 100%;
  }

  .photo-carte {
    margin: 50px auto 0;
  }

  .medaille {
    margin: 50px auto;
    width: 60%;
  }
  .medaille img {
    margin: 10px;
  }

  .commentaire {
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .container-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: " carte " "historique" " mission" "commentaire" "medaille";
    margin-top: 70px;
  }

  .legatus {
    display: none;
  }

  .carte img {
    width: 95%;
    height: auto;
  }

  .carte h2 {
    display: block;
    text-align: center;
    font-size: 3vw;
  }

  .pourcentage {
    order: 2;
    width: 80%;
  }
  .pourcentage h4 {
    font-size: 3vw;
  }

  .role {
    order: 3;
  }

  .graph_mission, .role, .photo-carte, .commentaireContainer, .medaille {
    width: 60%;
    height: auto;
  }

  .photo-carte img {
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .graph_mission, .role, .commentaire-container, .medaille {
    width: 90%;
    height: auto;
  }

  .pourcentage h4 {
    font-size: 4.5vw;
  }

  .carte img {
    width: 95%;
    height: auto;
  }

  .carte-text {
    font-size: 1.2vw;
    width: 180px;
    margin-left: 140px;
    line-height: 15px;
  }
}
.oragnigrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  fill: rgba(27, 137, 255, 0.637);
  stroke: #3E9CFF;
  stroke-width: 0.5;
  opacity: 0.3;
}

.box:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.toggle {
  transform: scale(1.05);
  transform-origin: center;
  opacity: 0.7;
}

.orga-eagle-title {
  position: absolute;
  top: 32%;
  left: 48%;
}

.orga-eagle {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 15%;
  height: 50vh;
}
.orga-eagle h2 {
  font-size: 1.1vw;
  margin: 2% 5%;
}
.orga-eagle h3 {
  margin: 3% 5%;
}
.orga-eagle svg {
  position: absolute;
  z-index: -1;
}
.orga-eagle p {
  margin: 1% 5%;
  font-size: 0.7vw;
}
.orga-eagle .officiers-list {
  height: 12vh;
  overflow: auto;
  scrollbar-width: thin;
}

.orga-seals {
  position: absolute;
  top: 68%;
  right: 12%;
  width: 21.5%;
  height: 25vh;
}
.orga-seals h2 {
  font-size: 1.1vw;
  margin: 2% 5%;
}
.orga-seals h3 {
  margin: 3% 5%;
}
.orga-seals svg {
  position: absolute;
  z-index: -1;
}
.orga-seals p {
  margin: 1% 5%;
  font-size: 0.7vw;
}
.orga-seals .officiers-list {
  height: 6.5vh;
  overflow: auto;
  scrollbar-width: thin;
}

.orga-academie {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 11.5%;
  height: 35vh;
}
.orga-academie h2 {
  font-size: 1.1vw;
  margin: 2% 5%;
}
.orga-academie h3 {
  margin: 3% 5%;
}
.orga-academie svg {
  position: absolute;
  z-index: -1;
}
.orga-academie p {
  margin: 1% 5%;
  font-size: 0.7vw;
}
.orga-academie .officiers-list {
  height: 25vh;
  overflow: auto;
  scrollbar-width: thin;
}

.orga-legatusFleet {
  position: absolute;
  top: 30%;
  left: 17%;
  width: 19.7%;
  height: 35vh;
}
.orga-legatusFleet h2 {
  font-size: 1.1vw;
  margin: 2% 5%;
}
.orga-legatusFleet h3 {
  margin: 3% 5%;
}
.orga-legatusFleet svg {
  position: absolute;
  z-index: -1;
}
.orga-legatusFleet p {
  margin: 1% 5%;
  font-size: 0.7vw;
}
.orga-legatusFleet .officiers-list {
  height: 11.5vh;
  overflow: auto;
  scrollbar-width: thin;
}

.orga-delta {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 36.8%;
  height: 15vh;
}
.orga-delta h2 {
  font-size: 1.1vw;
  margin: 2% 5%;
}
.orga-delta h3 {
  margin: 3% 5%;
}
.orga-delta svg {
  position: absolute;
  z-index: -1;
}
.orga-delta p {
  margin: 1% 5%;
  font-size: 0.7vw;
}
.orga-delta .officiers-list {
  height: 8vh;
  overflow: auto;
  scrollbar-width: thin;
}

.orga-rogue {
  position: absolute;
  top: 15%;
  right: 22%;
  width: 16%;
  height: 15vh;
}
.orga-rogue h2 {
  font-size: 1.1vw;
  margin: 2% 5%;
}
.orga-rogue h3 {
  margin: 3% 5%;
}
.orga-rogue svg {
  position: absolute;
  z-index: -1;
}
.orga-rogue p {
  margin: 1% 5%;
  font-size: 0.7vw;
}
.orga-rogue .officiers-list {
  height: 35vh;
  overflow: auto;
  scrollbar-width: thin;
}

.formulaire-container {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.column1 {
  height: 80px;
  width: 25%;
  min-width: 200px;
}

.column2 {
  height: 180px;
  width: 50%;
  margin: auto;
}

.column3 {
  width: 100%;
  height: 38vh;
  overflow: auto;
}

label {
  display: block;
}

input[type=text] {
  background: none;
  color: #fbfbfb;
  font-family: zektonrg;
  border: none;
  border-bottom: 1px solid #fbfbfb;
}

::placeholder {
  color: #979797;
}

.nom-participant {
  text-align: center;
  background: none;
  border: none;
  border-bottom: #fbfbfb solid 1px;
  color: #fbfbfb;
}

.textarea-rapport-mission {
  appearance: none;
  width: 90%;
  background: none;
  resize: none;
  color: #fbfbfb;
  font-family: zektonrg;
  border: solid #fbfbfb 1px;
  padding: 10px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  width: 160px;
  height: 30px;
  text-align: center;
  background: rgba(18, 38, 65, 0.7);
  border: solid 1px #fbfbfb;
  color: #fbfbfb;
  font-family: zektonrg;
  font-size: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0a1324;
  color: #fbfbfb;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 155%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.9s;
  transition-delay: 0.5s;
}
.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0a1324 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.containerButton {
  display: flex;
  justify-content: center;
  width: 10%;
  margin-top: 1.5%;
}

button[type=submit] {
  position: absolute;
  bottom: 7%;
  right: 100;
}

@media screen and (max-width: 1200px) {
  .column1 {
    width: 45%;
  }

  .column2 {
    width: 100%;
  }

  .column3 {
    width: 100%;
    height: 100vh;
    overflow: hidden auto;
  }

  .textarea-rapport-mission {
    width: 100%;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .commentaire {
    width: 60%;
    float: none;
    padding: 0px;
  }
}
@font-face {
  font-family: zektonrg;
  src: url(../font/zektonrg.ttf) format("truetype");
}
@font-face {
  font-family: Prometheus;
  src: url(../font/PROMETHEUS.ttf) format("truetype");
}
body {
  background-color: #0A0F15;
  font-family: zektonrg;
  scrollbar-color: #fbfbfb #101726;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #101726;
}

::-webkit-scrollbar-thumb {
  background: #fbfbfb;
}

a, body {
  color: #fbfbfb;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8vw;
}

.centerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#pseudo {
  position: absolute;
  top: 1.5%;
  left: 3%;
  font-size: 1.8vw;
}

.blocked {
  color: #808080;
  fill: #808080;
  cursor: no-drop;
}

/*# sourceMappingURL=styles.css.map */
