/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: zektonrg;
  src: url(../font/zektonrg.ttf) format("truetype");
}
@font-face {
  font-family: Prometheus;
  src: url(../font/PROMETHEUS.ttf) format("truetype");
}
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #0f172a;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input {
  background: none;
  border: none;
  border-bottom: solid 1px #fff;
  color: #fff;
}
input::placeholder {
  color: #fff;
}

input[type=text] {
  padding: 1%;
}

button {
  background: none;
  border: solid 1px #fff;
  color: #fff;
  padding: 1vh 2vw;
  cursor: pointer;
}

.primary-nav {
  width: 100%;
  height: auto;
}
.primary-nav #band {
  position: absolute;
  z-index: -1;
}

#menu {
  width: 40%;
  margin: 0 34%;
  padding-top: 0.4%;
}
#menu li {
  display: inline-block;
  width: 7.5%;
  height: auto;
  margin-left: 9%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-out;
}
#menu li a {
  color: #fff;
  font-weight: 200;
  font-size: 17px;
}

.icon-individuel_section, .icon-document, .icon-logout {
  height: 3vh;
  stroke: #d4e8ff;
}

#title {
  display: block;
  float: right;
  margin: 1% 5%;
  text-transform: capitalize;
  font-size: 1vw;
}

#bandDeg {
  display: block;
  height: 1px;
  width: 100%;
  margin: 3% 0;
  background-image: linear-gradient(142deg, rgba(255, 0, 0, 0) 20%, #fff 70%, #ffffff 100%);
}

.resize, .menuTel {
  display: none;
}

.resize {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  border: solid #67D9F7 1px;
  background-color: #041B30;
  width: 100%;
  padding: 18px;
}

#btn-menu {
  float: right;
  background: none;
  border: none;
}

.btn-menu-open {
  height: 95vh;
  transition: 0.6s;
}

.menuTel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10vh 3%;
  z-index: 3;
  list-style-type: none;
}
.menuTel li {
  margin-top: 7vh;
}
.menuTel li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.menuTelAdmin {
  display: none;
}
.menuTelAdmin li {
  margin-top: 1.5vh;
}
.menuTelAdmin li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 1850px) {
  .primary-nav {
    display: none;
  }

  .resize, .resize h1 {
    display: block;
  }

  .resize h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0;
    font-size: 18px;
    z-index: 3;
  }
}
.cut {
  position: relative;
  padding: 20px;
  background: rgba(130, 162, 250, 0.055);
}
.cut:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: transparent #0A0F15 transparent #0A0F15;
}

.block-nav {
  position: fixed;
  width: 120px;
  height: 81vh;
  margin-right: 20px;
  float: left;
  top: 15%;
  left: 0;
  transition: 0.5s;
}

.block-nav-big {
  position: fixed;
  width: 200px;
  height: 81vh;
  margin-right: 20px;
  float: left;
  top: 15%;
  left: 0;
}

.list-menu-admin {
  margin: auto;
  padding: 0;
  width: 24px;
  transition: 0.5s;
}
.list-menu-admin li {
  list-style-type: none;
  width: 24px;
  margin: 4vh 0;
}

.list-menu-admin-big {
  margin: auto;
  padding: 0;
  width: 180px;
}
.list-menu-admin-big li {
  list-style-type: none;
  width: 180px;
  height: 25px;
  margin: 4.5vh 0;
}

.nav-admin-text {
  display: none;
}

.nav-admin-text-big {
  display: inline;
  vertical-align: center;
  margin: 0 1vw;
}

.arrow {
  display: block;
  cursor: pointer;
  width: 24px;
  transition: 0.5s;
}

.arrow-big {
  display: block;
  transform: rotate(-180deg);
  width: 24px;
}

@media (max-width: 1850px) {
  .block-nav {
    display: none;
  }
}
.container-adm {
  margin: 0 auto;
  margin-left: 8%;
  width: 90%;
  height: 84vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: 0.5s;
}

.container-adm-big {
  margin: 0 auto;
  margin-left: 12%;
  width: 86%;
  height: 84vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.block_Xl {
  width: 100%;
  height: auto;
}

.block-large {
  width: 100%;
  height: 35vh;
  margin: 1%;
}

.graph-mission-admin-tablette,
.graph-mission-admin-small-tablette,
.graph-mission-admin-mobile,
.graph-role-admin-mobile {
  display: none;
}

.block-mid {
  width: 48%;
  height: 35vh;
  margin: 1%;
}

.svg-fill {
  fill: #fff;
}

.body {
  display: flex;
  flex-flow: column nowrap;
}

.fixe {
  position: fixed;
  top: 0;
}

.article-container {
  width: 100%;
  height: 65vh;
  overflow: auto;
  order: 1;
}

.article-liste {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.article-listeli {
  margin: 0.5%;
}

article {
  position: relative;
  width: 40%;
  min-width: 500px;
  margin: 40px 0;
}
article svg {
  width: 100%;
}

.btn_article {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.image {
  position: relative;
}
.image img {
  width: 10%;
}

.etiquette {
  position: absolute;
  bottom: 0;
  left: 0;
}

.articleText {
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
}
.articleText h2 {
  font-size: 0.9vw;
  margin: 5px 10px;
  color: #0A0F15;
}
.articleText p {
  font-size: 0.8vw;
  margin: 5px 20px;
  color: #0A0F15;
}

.textCut {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 320px;
  height: 1.2em;
  white-space: nowrap;
}

aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 70px auto 0;
  order: 2;
}

.search-bar-container {
  width: 30%;
  height: 60px;
}

.search-bar {
  width: 80%;
  height: 100%;
  padding-left: 50px;
  font-size: 15px;
  background: none;
  border: solid #fff 1px;
  background-image: url("../img/icon/searchIcon.png");
  background-position: left;
  background-size: 4vh;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
}
.search-bar:focus {
  width: 100%;
}

.filterContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 60%;
  margin: 0;
}

.filter {
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 0;
  list-style-type: none;
}
.filter a {
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.aside-large-screen {
  width: 70%;
}

.aside-small-screen {
  display: none;
}

.filter-container-mobile {
  z-index: 1;
  border: solid #fff 1px;
  background: none;
  width: 50px;
  height: 50px;
  padding: 10px 5px;
}

#btn-filter {
  float: right;
  background: none;
  border: none;
}

.btn-filter-open {
  height: 70vh;
  width: 400px;
  transition: 0.6s;
  background-color: #041b30;
  padding: 20px;
}

.filtre-mobile {
  display: none;
  top: 20;
  right: 0;
  margin: 10vh 3%;
  z-index: 2;
  list-style-type: none;
}
.filtre-mobile li {
  margin-top: 50px;
}
.filtre-mobile li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.doubleCut {
  position: relative;
  margin: 15px;
  padding: 10px 30px;
  background: rgba(130, 162, 250, 0.055);
}
.doubleCut h3 {
  margin: 10px;
  font-size: 1vw;
}

.doubleCut:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: transparent transparent #0A0F15 #0A0F15;
}

.doubleCut:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: transparent #0A0F15 transparent #0A0F15;
}

.largeScreen {
  display: grid;
  grid-template-columns: 20% 20% 20% 15% 25%;
  grid-template-rows: 15vh 18vh 32vh 8vh 13vh;
  grid-template-areas: " date type lead . img " " obj obj obj obj img " " desc desc desc desc video " " desc desc desc desc coms " " part part part part coms ";
  margin: 1%;
}

.date {
  grid-area: date;
}

.type {
  grid-area: type;
  text-transform: capitalize;
}

.lead {
  grid-area: lead;
}

.obj {
  grid-area: obj;
}

.desc {
  grid-area: desc;
}

.part {
  grid-area: part;
}

.img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  grid-area: video;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coms {
  grid-area: coms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paraContainer {
  height: 78%;
  overflow: auto;
  padding: 0 10px;
  margin: 0;
}

.para {
  margin-left: 20px;
  font-size: 0.8vw;
}

.smallScreen {
  display: none;
}

/* Filtre + transition */
.filter-content {
  display: none;
}

.filter-content.active {
  display: block;
}

.categorie-title {
  font-size: 1.6vw;
  text-align: center;
}

.filters .active {
  background-color: #fff2;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s;
}

.fade.in {
  opacity: 1;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 1850px) {
  .body {
    margin-top: 70px;
  }

  .largeScreen {
    margin: 6% 0 2%;
  }

  .articleText h2 {
    font-size: 16px;
    color: #0A0F15;
  }

  .articleText p {
    font-size: 14px;
    color: #0A0F15;
  }
}
@media (max-width: 1000px) {
  .largeScreen {
    display: none;
  }

  .smallScreen {
    display: block;
  }

  .categorie-title {
    font-size: 2vw;
  }

  .articleListe {
    width: 90%;
  }

  .image img {
    width: 100%;
  }

  main {
    display: block;
    display: flex;
    flex-flow: row;
  }

  .objectif {
    display: block;
    text-align: center;
    padding: 20px;
  }

  .navigation-bar {
    display: block;
    margin-top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navigation-bar a {
    color: #afafaf;
    text-decoration: none;
    padding: 5px;
  }

  #description {
    height: auto;
    min-width: 100%;
    padding: 20px;
  }

  #participants {
    height: auto;
    min-width: 100%;
    padding: 20px;
  }

  #commentaires {
    height: auto;
    min-width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .body {
    width: 100%;
    overflow: hidden;
  }

  .article-container {
    order: 2;
    margin-top: 110px;
    height: 70vh;
    overflow: hidden auto;
  }

  section {
    margin: auto;
    height: auto;
  }

  article {
    position: relative;
    width: 40%;
    min-width: 98%;
    margin: 30px 0;
  }

  .categorie-title {
    font-size: 4.5vw;
  }

  .search-bar-container {
    width: 90%;
    height: 50px;
    margin: 0 10px;
  }

  .aside-large-screen {
    display: none;
  }

  .aside-small-screen {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 100px auto;
    width: 90%;
    order: 1;
  }

  .articleText h2 {
    font-size: 14px;
    color: #0A0F15;
  }

  .articleText p {
    font-size: 12px;
    color: #0A0F15;
  }
}
@font-face {
  font-family: zektonrg;
  src: url(../font/zektonrg.ttf) format("truetype");
}
@font-face {
  font-family: Prometheus;
  src: url(../font/PROMETHEUS.ttf) format("truetype");
}
.line {
  position: absolute;
  z-index: -1;
  fill: none;
  stroke-width: 4;
  animation: line 2.3s linear forwards;
}

@keyframes line {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1s linear forwards;
  fill: none;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: logo 1.7s linear forwards;
  animation-delay: 0.7s;
}

@keyframes logo {
  80% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    left: 10%;
    top: 15%;
    transform: scale(0.4, 0.4);
  }
}
.section-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 75%;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: article 2.3s linear forwards;
}
.section-login .login {
  width: 60%;
}
.section-login .description {
  width: 40%;
}

@keyframes article {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fp, #fp2 {
  position: absolute;
  top: 70%;
  left: 90%;
  stroke: #aaaaaa;
  width: 5%;
  cursor: pointer;
}

#fp2:hover {
  stroke: white;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.inputLogin {
  width: 30%;
  margin: 3% 5%;
  padding: 1%;
}

#formInscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 20%;
  margin-top: 2%;
}

.input-sign-in {
  width: 100%;
  margin: 5% 0;
}

button {
  align-self: flex-end;
}

.formulaire-container {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.column1 {
  height: 80px;
  width: 25%;
  min-width: 200px;
}

.column2 {
  height: 180px;
  width: 50%;
  margin: auto;
}

.column3 {
  width: 100%;
  height: 38vh;
  overflow: auto;
}

label {
  display: block;
}

input[type=text] {
  background: none;
  color: #fff;
  font-family: zektonrg;
  border: none;
  border-bottom: 1px solid #fff;
}

::placeholder {
  color: #979797;
}

.nom-participant {
  text-align: center;
  background: none;
  border: none;
  border-bottom: #fff solid 1px;
  color: #fff;
}

.textarea-rapport-mission {
  appearance: none;
  width: 90%;
  background: none;
  resize: none;
  color: #fff;
  font-family: zektonrg;
  border: solid #fff 1px;
  padding: 10px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  width: 160px;
  height: 30px;
  text-align: center;
  background: rgba(18, 38, 65, 0.7);
  border: solid 1px #fff;
  color: #fff;
  font-family: zektonrg;
  font-size: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0a1324;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 155%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.9s;
  transition-delay: 0.5s;
}
.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0a1324 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.containerButton {
  display: flex;
  justify-content: center;
  width: 10%;
  margin-top: 1.5%;
}

button[type=submit] {
  position: absolute;
  bottom: 7%;
  right: 100;
}

@media screen and (max-width: 1200px) {
  .column1 {
    width: 45%;
  }

  .column2 {
    width: 100%;
  }

  .column3 {
    width: 100%;
    height: 100vh;
    overflow: hidden auto;
  }

  .textarea-rapport-mission {
    width: 100%;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .commentaire {
    width: 60%;
    float: none;
    padding: 0px;
  }
}
@font-face {
  font-family: zektonrg;
  src: url(../font/zektonrg.ttf) format("truetype");
}
@font-face {
  font-family: Prometheus;
  src: url(../font/PROMETHEUS.ttf) format("truetype");
}
body {
  background-color: #0A0F15;
  font-family: zektonrg;
}

a, body {
  color: #fff;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8vw;
}

.centerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#pseudo {
  position: relative;
}

.blocked {
  color: #808080;
  fill: #808080;
  cursor: no-drop;
}

/*# sourceMappingURL=styles.css.map */
