    </div>
        <div id="bandDeg" class="clear"></div>
        </div>
</nav>

<div class="resize">
    <h1>Legatus Squadron</h1>
    <a href="#">
        <button id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="25.3" viewBox="0 0 42.648 31.747">
            <g id="Group_1" data-name="Group 1" transform="translate(0.5 0.5)">
              <path id="Path_2" data-name="Path 2" d="M1685,513.9h41.179l-2.141,3.013H1685Z" transform="translate(-1685.004 -513.904)" fill="#67d9f7" stroke="#67d9f7" stroke-width="1"/>
              <path id="Path_3" data-name="Path 3" d="M1685,513.9h32.577l-2.15,3.013H1685Z" transform="translate(-1685.004 -500.171)" fill="#67d9f7" stroke="#67d9f7" stroke-width="1"/>
              <path id="Path_4" data-name="Path 4" d="M1685,513.9h22.978l-2.261,3.013H1685Z" transform="translate(-1685.004 -486.171)" fill="#67d9f7" stroke="#67d9f7" stroke-width="1"/>
            </g>
        </svg>
        </button>
    </a>
</div>
    <ul class="menuTel">
        <li><a href="../section_individuelle">Section individuelle</a></li>
        <li><a href="../documents">Documents</a></li>
        <li><a href="#">Armurerie</a></li>
        <li><a href="../administration">Administration
        <ul class="menuTelAdmin">
            <li><a href="../administration">Dashboard</a></li>
            <li><a href="../administration/rapportmission.php">Rapport</a></li>
            <li><a href="../administration/gestionmembres.php">Membres</a></li>
            <li><a href="../administration">Calendrier</a></li>
            <li><a href="../administration">Cerberus</a></li>
            <li><a href="../administration">Documents</a></li>
            <li><a href="../administration">Armurerie</a></li>
        </ul>
        </a></li>
        <li><a href="logout.php">Deconnexion</a></li>
    </ul>
</div>