<!--Header svg-->
<nav class="primary-nav">
    <div class="large-screen">
      <div id="band">
        <svg class="band" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1908.9 51.277">
          <defs>
           <filter id="_10path" x="494.272" y="13.285" width="192.268" height="35.754" filterUnits="userSpaceOnUse">
             <feOffset dx="5" dy="5" input="SourceAlpha"/>
             <feGaussianBlur stdDeviation="0.5" result="blur"/>
             <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
             <feComposite operator="in" in2="blur"/>
             <feComposite in="SourceGraphic"/>
           </filter>
           <filter id="_9path" x="451.041" y="14.563" width="60.142" height="36.715" filterUnits="userSpaceOnUse">
             <feOffset dx="5" dy="5" input="SourceAlpha"/>
             <feGaussianBlur stdDeviation="0.5" result="blur-2"/>
             <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
             <feComposite operator="in" in2="blur-2"/>
             <feComposite in="SourceGraphic"/>
           </filter>
           <filter id="_8path" x="426.113" y="14.975" width="45.649" height="36.029" filterUnits="userSpaceOnUse">
             <feOffset dx="5" dy="5" input="SourceAlpha"/>
             <feGaussianBlur stdDeviation="0.5" result="blur-3"/>
             <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
             <feComposite operator="in" in2="blur-3"/>
             <feComposite in="SourceGraphic"/>
           </filter>
           <filter id="_7path" x="1594.835" y="18.514" width="305.366" height="31.125" filterUnits="userSpaceOnUse">
             <feOffset dx="5" dy="5" input="SourceAlpha"/>
             <feGaussianBlur stdDeviation="0.5" result="blur-4"/>
             <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
             <feComposite operator="in" in2="blur-4"/>
             <feComposite in="SourceGraphic"/>
           </filter>
           <filter id="_6path" x="1177.861" y="0.008" width="166.695" height="49.516" filterUnits="userSpaceOnUse">
             <feOffset dx="5" dy="5" input="SourceAlpha"/>
             <feGaussianBlur stdDeviation="0.5" result="blur-5"/>
             <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
            <feComposite operator="in" in2="blur-5"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="_5path" x="1053.283" y="0.008" width="173.727" height="49.35" filterUnits="userSpaceOnUse">
            <feOffset dx="5" dy="5" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="0.5" result="blur-6"/>
            <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
            <feComposite operator="in" in2="blur-6"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="_4path" x="927.705" y="0.008" width="174.541" height="49.625" filterUnits="userSpaceOnUse">
            <feOffset dx="5" dy="5" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="0.5" result="blur-7"/>
            <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
            <feComposite operator="in" in2="blur-7"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="_3path" x="804.679" y="0.008" width="172.659" height="49.48" filterUnits="userSpaceOnUse">
            <feOffset dx="5" dy="5" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="0.5" result="blur-8"/>
            <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
            <feComposite operator="in" in2="blur-8"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="_2path" x="677.084" y="0.008" width="176.988" height="49.895" filterUnits="userSpaceOnUse">
            <feOffset dx="5" dy="5" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="0.5" result="blur-9"/>
            <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
            <feComposite operator="in" in2="blur-9"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="_1path" x="0" y="0" width="1908.9" height="49.977" filterUnits="userSpaceOnUse">
            <feOffset dx="5" dy="5" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="0.5" result="blur-10"/>
            <feFlood flood-color="#fcfcfc" flood-opacity="0.2"/>
            <feComposite operator="in" in2="blur-10"/>
            <feComposite in="SourceGraphic"/>
          </filter>
        </defs>
        <g id="header2" transform="translate(12.986 -1298.129)">
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_10path)">
            <path id="_10path-2" data-name="10path" d="M-15674.509-18826.086h155.1l28.254,28.254h-44.93l-3.256-3.256h-14.554l-3.256,3.256h-23.458l-3.933-3.932h-33.143l-3.933,3.932h-24.724Z" transform="translate(16169.99 18839.87)" fill="#fff" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_9path)">
            <path id="_9path-2" data-name="9path" d="M-15717.747-18824.809h22.021l29.216,29.215h-22.326Z" transform="translate(16169.99 18839.87)" fill="#fff" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_8path)">
            <path id="_8path-2" data-name="8path" d="M-15742.667-18824.4h8.208l28.528,28.529h-8.241Z" transform="translate(16169.99 18839.87)" fill="#fff" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_7path)">
            <path id="_7path-2" data-name="7path" d="M-14276.639-18797.086l-23.771-23.771h-274.742" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_6path)">
            <path id="_6path-2" data-name="6path" d="M-14992.125-18839.359l117.68,0,42.162,42.162" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_5path)">
            <path id="_5path-2" data-name="5path" d="M-15116.7-18839.361l124.878,0,42,42" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_4path)">
            <path id="_4path-2" data-name="4path" d="M-15242.281-18839.359l125.415,0,42.272,42.271" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_3path)">
            <path id="_3path-2" data-name="3path" d="M-15365.308-18839.363h122.853l42.957,42.123" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_2path)">
            <path id="_2path-2" data-name="2path" d="M-15492.9-18839.359l127.595,0,42.54,42.541" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
          <g transform="matrix(1, 0, 0, 1, -12.99, 1298.13)" filter="url(#_1path)">
            <path id="_1path-2" data-name="1path" d="M-16169.986-18839.371l677.1.008,42.278,42.277,1183.023.191" transform="translate(16169.99 18839.87)" fill="none" stroke="#fff" stroke-width="1"/>
          </g>
        </g>
      </svg>
    </div>