<!--Menu with icons-->
<ul id="menu">
    <li>
        <a href="../section_individuelle">
            <svg class="icon-individuel_section" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 316.26 166.06"><defs><style>.isi{fill:none;;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>Section individuelle</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon id="Base" class="isi" points="313.75 144.94 294.51 163.56 11.81 163.25 2.5 153.94 2.5 130.35 11.81 121.04 11.81 69.53 2.5 60.22 2.5 24.22 11.81 14.91 178.14 14.91 190.56 2.5 294.82 2.5 312.51 20.19 313.75 144.94"/><rect class="isi" x="22.05" y="28.88" width="75.1" height="117.3"/><line class="isi" x1="126.01" y1="38.19" x2="268.14" y2="38.19"/><line class="isi" x1="126.01" y1="53.08" x2="198" y2="53.08"/><line class="isi" x1="126.01" y1="69.84" x2="237.1" y2="69.84"/></g></g></svg>
        </a>
    </li>
    <li>
        <a href="../documents">
            <svg class="icon-document" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119 161"><defs><style>.dcs-1,.dcs-2,.dcs-4{fill:none;}.dcs-1,.dcs-4{stroke-miterlimit:10;}.dcs-1{stroke-width:5px;}.dcs-3{fill:#fff;}.dcs-4{stroke-width:3px;}</style></defs><title>Documents</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="dcs-1" points="116.5 28.5 116.5 158.5 2.5 158.5 2.5 2.5 90.5 2.5 116.5 28.5"/><polygon class="dcs-2" points="116.5 2.5 116.5 28.5 90.5 2.5 116.5 2.5"/><line class="cls-3" x1="117" y1="29" x2="116.5" y2="28.5"/><line class="dcs-4" x1="23.5" y1="52.5" x2="90.5" y2="52.5"/><line class="dcs-4" x1="24" y1="71.5" x2="91" y2="71.5"/><line class="dcs-4" x1="24" y1="90.5" x2="91" y2="90.5"/><line class="dcs-4" x1="24" y1="109.5" x2="91" y2="109.5"/></g></g></svg>
        </a>
    </li>
    <li>
        <a href="#">
        </a>
    </li>
    <li>
        <a href="../administration"><p class="icon-adm">ADM</p>
        </a>
    </li>
    <li>
        <a href="logout.php">
            <svg class="icon-logout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.27 164.5"><defs><style>.lo-1{fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>Logout</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_12" data-name="Layer 12"><line class="lo-1" x1="68.63" y1="2.5" x2="68.63" y2="81.48"/><path class="lo-1" d="M45.72,33.81a66.14,66.14,0,1,0,45.82,0"/></g></g></svg>
        </a>
    </li>
</ul>
    <div id="title">