@import '../utils/variables';
.primary-nav{
    width: 100%;
    height: auto;
    #band{
        position: absolute;
        z-index: -1;
    }
}

#menu{
    width: 40%;
    margin: 0 34%;
    padding-top: .4%;

    li{
        display: inline-block;
        width: 7.5%;
        height: auto;
        margin-left: 9%;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease-out;

        a{
            color: $white;
            font-weight: 200;
            font-size: 17px;
        }
    }
}

.icon-individuel_section, .icon-document, .icon-logout{
    height: 3vh;
    stroke: #d4e8ff;
}

#title{
    display: block;
    float: right;
    margin: 0.8% 5%;
    text-transform: capitalize;
    font-size: 1vw;
}


#bandDeg{
    display: block;
    height: 1px;
    width: 100%;
    margin: 3% 0 0 0;
    background-image: linear-gradient(142deg, rgba(255,0,0,0) 20%, $white 70%, #ffffff 100% );
}

.resize,.menuTel{
    display: none;
}

.resize{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border : solid #67D9F7 1px;
    background-color: #041B30;
    width: 100%;
    padding: 10px;
}


#btn-menu{
    float: right;
    background: none;
    border : none;
}


.btn-menu-open{
    height: 95vh;
    transition: .6s;
}

.menuTel{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10vh 3%;
    z-index: 3;
    list-style-type: none;
    li {
        margin-top: 7vh;
        a{
            color: $white;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

.menuTelAdmin{
    display: none;

    li {
        margin-top: 1.5vh;
        a{
            color: $white;
            text-decoration: none;
            font-size: 16px; 
        }
    }
}

@media(max-width: $break-large) {

    .primary-nav {
        display: none;
    }

    .resize, .resize h1{
        display: block;
    }

    .resize h1
    {
      position: absolute;
      top: 20px;
      left:50px;
      margin: 0;
      font-size: 18px;
      z-index: 3;

    }
}