.cut {
    position:relative;
    padding:20px;
    color:#000;
    background:rgba(130, 162, 250, 0.055);
    &:after {
        content:"";
        position:absolute;
        top:0;
        right:0;
        border-width: 0px 50px 50px 0px;
        border-style:solid;
        border-color: transparent #0A0F15 transparent #0A0F15  ;
    }
}

.block-nav{
    position: fixed;
    width: 120px;
    height: 81vh;
    margin-right: 20px;
    float: left;
    top: 15%;
    left: 0;
    transition: .5s;
}

.block-nav-big{
    position: fixed;
    width: 200px;
    height: 81vh;
    margin-right: 20px;
    float: left;
    top: 15%;
    left: 0;
}


.list-menu-admin {
    margin: auto;
    padding: 0;
    width: 24px;
    transition: .5s;

    li {
        list-style-type: none;
        width: 24px;
        margin: 4vh 0;
    }
}

.list-menu-admin-big{
    margin: auto;
    padding: 0;
    width: 180px;
    li {
        list-style-type: none;
        width: 180px;
        height: 25px;
        margin: 4.5vh 0;
    }
}

.nav-admin-text{
    display: none;
    opacity: 0;

}

.nav-admin-text-big{
    display: inline;
    vertical-align: center;
    margin: 0 1vw;
}

.arrow{
    display: block;
    cursor: pointer;
    width: 24px;
    transition: .5s;
}

.arrow-big{
    display: block;
    transform: rotate(-180deg);
    width: 24px;
}