body{
  background: url('../../resources/img/bg.png');
}
#msg{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scan{
    position: absolute;
    width: 170px;
    height: 2px;
    z-index: 3;
    background-color:#3E9CFF;
    animation: 3.5s scan forwards;
}

  @keyframes scan{
    0% {top:90px;}
    10% {top:50px;}
    20% {top:20px;}
    30% {top:80px;}
    40% {top:60px;}
    40% {top:90px;}
    50% {top:120px;}
    60% {top:90px;}
    70% {top:160px;}
    80% {top:100px;}
    80% {top:70px;}
    90% {top:84px;}
    100% {top:90px;}
  }

  .chargement{
    position: absolute;
    top: 180px;
    width: 150px;
    .chargement-text{
        float: left;
    }
    .text{
        float: right;
    }
  }

.structure{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  z-index: -2;
  }

.container-grid{
  display: grid;
  grid-template-columns: auto 34.9% 28.1% 8.3% 20.8% auto;
  grid-template-rows: 20vh 15vh 13vh 15vh 7vh 18vh auto;
  grid-template-areas:
      " . legatus cercle medaille medaille . "
      " . legatus cercle carte carte . "
      " . mission cercle carte carte  . "
      " . mission cercle oxy oxy . "
      " . mission  cercle oxy oxy . "
      " . mission  historique historique commentaire  . "
      " . . . . . . " ;
}

.legatus{
  grid-area: legatus;
  .groupe{
    margin: 10% 0 0  5% ;
    max-width: 70%;
    height: auto;
    float: left;
    img {
      width: 100%;
    }
  }
  .logo-groupe{
    margin: 50px 10px 0;
    width: 80px;
    height: 80px;
    float: right;
  }
  .holo{
    margin: 10px auto 0 20px  ;
    width: 60%;
    height: 170px;
    float: left;
  }
  .list-membre{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 60px 0 auto ;
    width: 22%;
    height: 170px;
    font-size: .8rem;   
    float: right;
}

    .membres{
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
    }

    .list-membre-svg{
        position: absolute;
        top:0;
        z-index: -2;
    }
}

.mission{
  grid-area: mission;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

    .pourcentage{
      margin: 5% 0 3% 5%;
      width: 250px;

      h4 {
        margin: 20px 0 5px 0px;
        font-size: 1vw;
      }
      .containerBar{
        width: 100%;
        border: solid 1px #FFF;
        border: rgb(37, 49, 104) solid 1px;
        .back {
          background: none !important;
        }
  
        .skill {
            text-align: right;
            color: white;
            padding-right: 20px;
            line-height: 13px;
        }
      
        #sauvetage{
            background: #3385b7;
        }
      
        #combat{
            background: #530b00;
        }
      
        #logistique{
            background: #d69200;
        }
      
        #exploration{
            background: #425d00;
        }
      }
  }
  .role{
    margin: 60px 0 0 0 ;
    width:380px;
    h3{
      margin: 0 ;
    }
  }
  .graph_mission{
    margin:0px ;
    width:400px;
    height: 250px;
  }
}

.cercle{
  grid-area: cercle; 
}
.historique{
  grid-area: historique;
  .historique-container{
    margin: 65px auto 10px;
    width: 90%;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
}

    .mission-histo{
        margin: 0 2px;
        padding: 2px;
        width: 25px;
        min-width: 25px;
        height: 90px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

.medaille{
  grid-area: medaille;
  //margin: 10px 0  20px 70px ;
  width: 580px;
  height: 200px;
  .medaille-container{
    display: flex;
    flex-flow: row wrap ;
    justify-content: flex-start;
    align-items: flex-start;
  }
   img{
    margin: 5px;
    max-width: 15%;
  }
}

.carte{
  grid-area: carte;
  .carte-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px ;
    }

  img{
    margin: 20px auto;
    width: 430px;
    height: 230px;
  }
  .photo-carte img{
    height: 100%;
  }

  .carte h2{
    display: none;
    text-align: center;
  }
  .carte-text{
    position: absolute;
    right: 20px;
    width: 270px;
    font-size: .7vw;
    line-height: 2.5vh;
  }
}
.oxy{
  grid-area: oxy;
  .oxy-container{
    position: relative;
    margin: 0px  0 20px 0;
    width: 570px;
    height: 150px;

}
.oxyBox{
    position: absolute;
    top:5px;
    left: 40px;

  }
}

.pathBtm{
  stroke-dasharray: 2000;
stroke-dashoffset: 2000;
animation: btm 2s linear infinite;
}

@keyframes btm {
to {
stroke-dashoffset: 0;
}
}
.commentaire{
  grid-area: commentaire;
  .commentaire{
    grid-area: commentaire;
    height: 140px;
    font-size: .9rem;
}

    .commentaire-container{
        margin: 50px  auto 0;
        width: 400px;
        height: 140px;
    }
} 
.kia{
  grid-area: kia;
}
.kia-container{
  position: relative;
  margin-left: 20px;
  width: 90px;
  height: 100px;
}
.vie{
    position: absolute;
    top: -10px;
    left:30px;
}

.vie-bar{
    position: absolute;
    top: -10px;
    left:60px;

}

.vie-text{
    position: absolute;
    top: -13px;
    left: 80px;
}


@media screen and (max-width: 1860px){
  .container-grid{
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto auto ;
      grid-template-areas:
          " legatus carte "
          "historique historique"
          " mission mission"
          "commentaire commentaire"
          "medaille medaille";
      margin-top: 70px;
  }

  .structure, .kia, .oxy , .carte h2{
      display: none;
  }

  .carte-img{
      margin: 0;
  }

  .carte-text{
      right: 0px;
  }

  .pourcentage,
  .historique-container,
  .carte,
  .commentaire,
  .medaille,
  .legatus,
  .role,
  .graph_mission
   {
      margin: 25px auto;
  }

  .role{
      margin: 50px auto;
      h3{
        margin: 50px auto
    }
  }
   
  .pourcentage{
      margin: 20px auto
  }

  .pourcentage h4{
      font-size: 20px;
  }
  .carte{
      align-items: center;
      align-content: center;
  }
  .groupe img{
      width: 100%;
  }

  .photo-carte{
      margin: 50px auto 0 ;
  }

  .medaille{
      margin: 50px auto;
      width: 60%;
      img{
        margin: 10px;
    }
  }
  .commentaire{
      text-align: center;
  }
}

@media screen and (max-width: 950px){
  .container-grid{
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto auto auto ;
      grid-template-areas:
          " carte "
          "historique"
          " mission"
          "commentaire"
          "medaille";
      margin-top: 70px;
  }

  .legatus {
      display: none;
  }

  .carte img {
      width: 95%;
      height: auto;
  }

  .carte h2{
      display: block;
      text-align: center;
      font-size: 3vw;
  }


  .pourcentage{
      order:2;
      width: 80%;
      h4{
        font-size: 3vw;
    }
  }
  .role{
      order:3;
  }

  .graph_mission, .role, .photo-carte, .commentaireContainer, .medaille{
      width: 60%;
      height: auto;
  }

  .photo-carte img{
      margin: auto;
  }

}

@media screen and (max-width: 600px){
  .graph_mission, .role, .commentaire-container, .medaille{
      width: 90%;
      height: auto;
  }

  .pourcentage h4{
      font-size: 4.5vw;
  }

  .carte img {
      width: 95%;
      height: auto;
  }

  .carte-text{
      font-size: 1.2vw;
      width: 180px;
      margin-left: 140px;
      line-height: 15px;
  }
}


  