@import '../utils/variables';
@import '../base/typography';

body{
    background-color: $background-color;
    font-family: $font-primary;
}

a, body{
    color: $white;
}

a{
    text-decoration: none;
}

h1{font-size: $font-large;}

.centerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#pseudo{
    position: absolute;
    top: 1.5%;
    left: 3%;
    font-size: $font-large;
}

.blocked{
    color: $blocked;
    fill: $blocked;
    cursor: no-drop;
}